[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
python-dateutil = "*"
python-dotenv = "*"
websocket-client = "==0.58.0"

[dev-packages]
pytz = "*"
requests = "*"

[requires]
python_version = "3.7"
